<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120224478273-idrpcl2fabshhu6ra7ta0u1itvjofohu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120224478273-idrpcl2fabshhu6ra7ta0u1itvjofohu</string>
	<key>API_KEY</key>
	<string>AIzaSyCafxYKcIwUwN_xQqHgPNuvqJPl2ZFItLY</string>
	<key>GCM_SENDER_ID</key>
	<string>120224478273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blockTalk</string>
	<key>PROJECT_ID</key>
	<string>blocktalk-571b3</string>
	<key>STORAGE_BUCKET</key>
	<string>blocktalk-571b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120224478273:ios:331bbdb40c42aee32482c0</string>
</dict>
</plist>